@import "../../styles/variables";

.top {
  min-height: 303px;
  background-image: url("/blog-header-decor.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 36px;
}

.call {
  display: block;
  margin-left: auto;
  padding: 12px 19px;
  border: none;
  background-color: $white;
  color: $black;
  border-radius: 13px;
  font: inherit;
  font-size: 18px;
  font-weight: 500;
}

.bottom {
  color: #103A58;
}

.bottom .call {
  display: none;
}

.inner {
  display: flex;
  justify-content: space-between;
  padding: 21px 0;
}

@media (max-width: 900px) {
  .top {
    min-height: 178px;
  }

  .bottom {
    color: $blue-dark;
  }
}


@media (max-width: 700px) {
  .social {
    display: none;
  }

  .call {
    display: none;
  }

  .call {
    background-color: $blue-dark;
    color: $white;
  }

  .bottom .call {
    display: block;
  }
}