.items {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 90px;
    padding: 33px 0 283px;
}

.image {
    width: 100%;
    border-radius: 10px;
    display: block;
}

.body {
    padding: 14px 10px;

    & p {
        margin: 0;
        color: #9B9B9B;
        font-size: 16px;
    }
}