button {
    cursor: pointer;
}

.container-lg {
    max-width: 1320px;
    padding: 0 20px;
    margin: 0 auto;
}

.container {
    max-width: 1260px;
    padding: 0 30px;
    margin: 0 auto;
}